@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 261 39% 49%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 311 80% 48%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 261 39% 49%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 248 10% 15%;
    --foreground: 0 0% 98%;
    --card: 248 10% 18%;
    --card-foreground: 0 0% 98%;
    --popover: 248 10% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 261 80% 63%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4% 24%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 24%;
    --muted-foreground: 0 0% 60%;
    --accent: 261 80% 63%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 24%;
    --input: 240 4% 24%;
    --ring: 261 80% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: hsl(var(--background) / 0.5);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: hsl(var(--muted-foreground) / 0.5);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--muted-foreground));
  }
}
